{% extends "core/base.core.html" %}
{% load static%}
{% block content %}


{% if messages %}
{% for message in messages  %}
<p {% if message.tags %} class='{{ message.tags}}' {% endif %}>{{message}}</p>
{% endfor %}
{% endif %}
<div class="pt-5">  
  <div class="global-container">  
    <div class="card login-form">  
    <div class="card-body">  
        <h3 class="card-title text-center">Enter your new password</h3>  
        <div class="card-text">  
            <form action="" method="POST" novalidate>
                {% csrf_token %}
                {% for f in form %}
                  <p class='h6' >{{f.label_tag}} <span style="border:2px solid lightgrey">{{f}}</span></p> 
                  <p class='errorlist'>{{f.errors|striptags}}</p>
                {% endfor %}
                <button class="btn " type="submit" style="color: #fff; background-color:#3e0e5e"> Confirm </button>
                
            </form>  
        </div>  
    </div>  
</div>  
</div> 

 {% endblock %}




