{% extends "core/base.core.html" %}
{% load static%}
{% block content %}


{% if messages %}
{% for message in messages  %}
<p {% if message.tags %} class='{{ message.tags}}' {% endif %}>{{message}}</p>
{% endfor %}
{% endif %}
<div class="pt-5">  
  <div class="global-container">  
    <div class="card login-form" style=" width: 500px;margin: 48px; height: 258px;">  
    <div class="card-body">  
        <h3 class="card-title text-center">Change Password</h3>  
        <div class="card-text" >  
            <form action="" method="POST" novalidate>
                {% csrf_token %}
                
                <span  >{{form.as_p}}</span><br>
                <button class="btn " type="submit" style="color: #fff; background-color:#3e0e5e"> Request for reset </button>
                <button class="btn btn-danger " type="button"  style="margin-right: 15px;margin-left: 20px;color: #fff; background-color:#3e0e5e"> <a style='color:white;' href="{% url 'login' %}">back</a></button>
            </form>  
        </div>  
    </div>  
</div>  
</div> 

 {% endblock %}