{% extends "core/base.html" %}
{% load static%}
{% block content %}

{% if messages %}
{% for message in messages %}
<p {% if message.tags %} class='{{ message.tags}}' {% endif %}>{{message}}</p>
{% endfor %}
{% endif %}


<div class="contact3 py-5" style="height: 80vh;">
  <div class="row no-gutters">
    <div class="container" style="box-shadow: 0 0px 10px rgb(0 0 0 / 15%);">
      <div class="row">
        <div class="col-lg-6 p-0">
          <div class="card-shadow">
            <img src="{% static 'patient/img/feedback.png'%}" class="img-fluid ">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="contact-box ml-3">
            <h1 class="font-weight-bold mt-2 " style="color:#27063d ;"> Feedback</h1>
            <form action="{% url 'feedback' %}" method="POST">
              {% csrf_token %}
              <form class="mt-4">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="form-group mt-2" style="text-align: left;">
                      <label for="name"><strong>Username:</strong></label>
                      <input class="form-control" type="text" placeholder="Username" name='username'
                        value={{request.user}}>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group mt-2" style="text-align: left;">
                      <label for="pwd"><strong>Write your views:</strong></label>


                      <textarea rows="4" cols="50" name="message" class="form-control"
                        placeholder="Enter text here"></textarea>
                    </div>
                  </div>
                  <div class="col-lg-12">

                    <button type="submit" class="btn  mt-3 text-white border-0 px-3 py-2 mb-3"
                      style="background-color: #27063d;"><span>
                        SUBMIT</span></button>
                  </div>
                </div>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}